<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="4ELquWI2iam-hbLqw6IA8LvtfBlm5XXvhpb50BxEqrg" />
    <meta name="description" content="Diccionari Català - LSC (Llengua de Signes Catalana)" />
    <title>
        Signepèdia - Editant un vídeo
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <script src="scripts/createHeader.js"></script>

    <div class="container">
      <fieldset>
          <iframe id="video" width="480" height="360" allow="autoplay" src="https://www.youtube.com/embed/<%= JSON.parse(entry).video %>?&autoplay=1&mute=1&rel=0&showinfo=0"></iframe>
          
          <form action="/edit" method="post" onsubmit="return disable(this);">
          <input name="id" type="hidden" value="<%= JSON.parse(entry).id %>">
          <input name="word" type="text" class="ghost-input" placeholder="Paraula" value="<%= JSON.parse(entry).word %>" required>
          <input name="comment" type="text" class="ghost-input" placeholder="Comentari" value="<%= JSON.parse(entry).comment %>">
          <input name="video" type="text" class="ghost-input" placeholder="Codi del vídeo" value="<%= JSON.parse(entry).video %>" required>
          <input name="edit" type="submit" class="ghost-button" value="Edita el vídeo">
        </form>
      </fieldset>
      <script type="text/javascript">
        function disable(form) {
            form.edit.disabled = true;
            form.edit.value = "Enviant...";
            return true;
        }
      </script>
    </div>
    <script src="scripts/createFooter.js"></script>
  </body>
</html>
