<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="4ELquWI2iam-hbLqw6IA8LvtfBlm5XXvhpb50BxEqrg" />
    <meta name="description" content="Diccionari Català - LSC (Llengua de Signes Catalana)" />
    <title>
        Signepèdia
        <% if(word !== null) { %>
          - <%= word %>
        <% } %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <p> Ja tenim <%= nvideos %> vídeos! </p>
    <div class="container">
      <fieldset>
          <form action="/" method="post" onsubmit="return disable(this);">
          <input name="word" type="text" class="ghost-input" placeholder="Escriu una paraula" required>
          <input name="search" type="submit" class="ghost-button" value="Tradueix-la a LSC">
        </form>
      </fieldset>
      <script type="text/javascript">
        function disable(form) {
            if (form.word === "") {
                return false;
            }
            form.search.disabled = true;
            form.search.value = "Cercant...";
            return true;
        }
      </script>
    </div>
    <div>
        <% if(video !== null) { %>
          <p><%- video %></p>
        <% } %>
        <% if(alternatives !== null) { %>
          <p><%- alternatives %></p>
        <% } %>
        <% if(synonyms !== null) { %>
          <p><%- synonyms %></p>
        <% } %>
        <% if(correction !== null) { %>
          <p><%- correction %></p>
        <% } %>
    </div>
    <div class="container">
      <fieldset>
        <form action="/pujar_video" method="get">
          <input type="submit" class = "ghost-button" value="Afegeix un signe">
        </form>
      </fieldset>
    <div class="container">
    <div class="footer">
      <a href="/termes" target="_blank">Condicions d'ús.</a>
      ·
      <a href="/privadesa" target="_blank">Política de Privadesa</a>
      ·
      Utilitzem les APIs de
      <a href="https://languagetool.org/">LanguageTool</a>
      i
      <a href="https://openthesaurus.softcatala.org/">OpenThesaurus-ca</a>
    </div>
  </body>
</html>
