<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
        Signepèdia
        <% if(paraula !== null) { %>
          - <%= paraula %>
        <% } %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="paraula" type="text" class="ghost-input" placeholder="Escriu una paraula" required>
          <input type="submit" class="ghost-button" value="Tradueix-la a LSC">
        </form>
      </fieldset>
    </div>
    <div>
        <% if(video !== null) { %>
          <p><%- video %></p>
        <% } %>
        <% if(alternatives !== null) { %>
          <p><%- alternatives %></p>
        <% } %>
        <% if(sinonims !== null) { %>
          <p><%- sinonims %></p>
        <% } %>
        <% if(correccio !== null) { %>
          <p><%- correccio %></p>
        <% } %>
    </div>
    <div class="container">
      <fieldset>
        <form action="/pujar_video" method="get">
          <input type="submit" class = "ghost-button" value="Afegeix un signe">
        </form>
      </fieldset>
    <div class="container">
    <div class="footer">
      Aquesta pàgina està disponible sota <a href="https://creativecommons.org/licenses/by-sa/4.0/">llicència Creative Commons Atribució - Compartir Igual</a>
      ·
      <a href="/termes" target="_blank">Condicions d'ús.</a>
      ·
      <a href="/privadesa" target="_blank">Política de Privadesa</a>
      ·
      Utilitzem les APIs de
      <a href="https://languagetool.org/">LanguageTool</a>
      i
      <a href="https://openthesaurus.softcatala.org/">OpenThesaurus-ca</a>
    </div>
  </body>
</html>
