<!DOCTYPE html>
<html lang="ca">
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="4ELquWI2iam-hbLqw6IA8LvtfBlm5XXvhpb50BxEqrg" />
    <meta name="description" content="Diccionari Català - LSC (Llengua de Signes Catalana)" />
    <title>
        Signepèdia
        <% if(JSON.parse(data).hasOwnProperty("word")) { %>
          - <%= JSON.parse(data).word %>
        <% } %>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>

  <body>
    <script src="scripts/createHeader.js"></script>
    <script>
      writeHeader("<%= data.user %>");
    </script>

    <div class="column">
      Ja tenim <%= JSON.parse(data).nVideos %> vídeos!
    </div>

    <div class="main">
      <div class="searcher">
        <fieldset>
          <form class="search-form" action="/search" method="get" onsubmit="this.searchSubmit.disabled=true;">
            <button class="icon-button" id="searchSubmit" name="search" type="submit" value="Tradueix-la a LSC">
              <i class="fa fa-search"></i>
            </button>
            <input name="word" type="text" placeholder="Escriu una paraula" required>
          </form>
        </fieldset>
      </div>

      <% if(JSON.parse(data).hasOwnProperty("entries")) { %>
        <div class="entry">
          <div class="entry-video">
            <div class="entry-info">
              <div class="left-info">
                <b><%= JSON.parse(data).word %></b>
              </div>
              <div class="right-info">
                <form style="float: left">
                  <button class="icon-button" id="previousButton" onclick="changeEntry(-1)">
                    <i class="fa fa-caret-square-o-left"></i>
                  </button>
                </form>
                <form style="float: left">
                  <button class="icon-button" id="nextButton" onclick="changeEntry(1)">
                    <i class="fa fa-caret-square-o-right"></i>
                  </button>
                </form>
              </div>
            </div>

            <div>
              <iframe id="video" width="480" height="360" allow="autoplay" src=""></iframe>
            </div>

            <div class="entry-info">
              <div class="left-info">
                <form action="/edit" method="get">
                  <input id="entryId" type="hidden" name="id">
                  <button type="submit" class="icon-button">
                    <i class="fa fa-pencil-square-o">
                      &nbsp;Edita
                    </i>
                  </button>
                </form>
              </div>
              <div class="right-info">
                <button class="icon-button" id="likesButton">
                  <i id="likes" class="fa fa-thumbs-up"></i>
                </button>
                <button class="icon-button" id="dislikesButton">
                  <i id="dislikes" class="fa fa-thumbs-down"></i>
                </button>
              </div>
            </div>
          </div>

          <div id="comment">
          </div>

          <script src="scripts/showEntry.js"></script>
          <script>
            loadEntries("<%= data %>");
            uploadEntry(0);
          </script>
        </div>
      <% } %>

      <div>
        <% if(JSON.parse(data).hasOwnProperty("synonyms")) { %>
          <p><%= data.synonyms[0] %></p>
        <% } %>
        <% if(JSON.parse(data).hasOwnProperty("correction")) { %>
          <p><%= data.correction %></p>
        <% } %>
      </div>
    </div>

    <script src="scripts/createFooter.js"></script>
  </body>
</html>
