<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
        Signepèdia - Validar
    </title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <script src="scripts/createHeader.js"></script>

    <div class="container">
      <% if(message == "done") { %>
        <p>S'ha validat el vídeo.<br>Moltes gràcies per col·laborar!</p>
        <form action="/validar" method="get">
          <input type="submit" class = "ghost-button" value="Valida un altre signe">
        </form>
        <form action="/" method="get">
          <input type="submit" class = "ghost-button" value="Torna a la Signepèdia">
        </form>
      <% } else if (message == "fail") { %>
        <p>Ho sentim.<br>Per un problema en el servidor no s'ha pogut validar el vídeo.</p>
        <form action="/validar" method="get">
          <input type="submit" class = "ghost-button" value="Torna-ho a intentar">
        </form>
        <form action="/" method="get">
          <input type="submit" class = "ghost-button" value="Torna a la Signepèdia">
        </form>
      <% } else if (message == "empty") { %>
        <p>No hi ha cap vídeo pendent de validació!</p>
        <form action="/" method="get">
          <input type="submit" class = "ghost-button" value="Torna a la Signepèdia">
        </form>
      <% } else { %>
        <p style="padding:10px">Col·labora validant un vídeo</p>
        <fieldset>
          <form action="/validar" method="post" encType="multipart/form-data" onsubmit="return disable(this);" style="font-size:15px">
              <input name="author" autocomplete="name" type="text" class="ghost-input" style="width:300px;font-size:17px;padding:5px" value="<%= data.author %>" required>
              <input name="word" type="text" class="ghost-input" style="width:300px;font-size:17px;padding:5px" value="<%= data.word %>" required>
              <input name="alternatives" type="text" class="ghost-input" placeholder="Alternatives (separades per |)" style="width:300px;font-size:17px;padding:5px">
              <input name="id" type="text" readOnly=true value="<%= data.id %>" required>
              <input name="videoId" type="text" readOnly=true value="<%= data.videoId %>" required>
              <input name="password" type="text" class="ghost-input" placeholder="Contrasenya" style="width:300px;font-size:17px;padding:5px" required>
            <input name="validate" type="submit" class="ghost-button" value="Valida el vídeo">
          </form>
          <script type="text/javascript">
            function disable(form) {
              if (form.author.value === "" || form.word.value === "") {
                return false;
              }
              form.validate.disabled = true;
              form.validate.value = "Validant...";
              return true;
            }
          </script>
        </fieldset>
          <p>
            <iframe width=480 height=360 allow="autoplay" src= <%- "https://www.youtube.com/embed/"+data.videoId+"?&autoplay=1&mute=1&rel=0&showinfo=0" %> ></iframe>
          <p>
      <% } %>
    </div>
    <script src="scripts/createFooter.js"></script>
  </body>
</html>
